@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body{
    background: #ddd url(../images/bg.jpg) repeat top left;
    font-family: "Lato", Calibri, Arial, sans-serif;
    }
#main{
	width: 960px;
	height: auto;
	margin: 0 auto;
	float: none;
}

#options{
	width: 300px;
	margin: 50px 0;
	float: left;
}

#xyAxis > #xAxisPicker, #xyAxis > #yAxisPicker{
	width: 180px;
}

#slider-xAxis, #slider-yAxis, #slider-circleSize{
	width: 180px;	height: 12px;
}

#range-value .ui-slider-handle{
	width: 12px; height: 20px;
}

#range-value input{
	border: 0; 
	color: #f6931f; 
	font-weight: bold;
}

#xy-plot {
  margin-left: 40px;
  height: 550px;
  float: right;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 96px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.infobox {
        position: absolute;
        width: 200px;
        padding: 10px;
        background-color: rgba(255,255,255,.75);
}





/*Country Selection Button Style*/
.country{
	width: 150px;
	text-align: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}

.country:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
.country:active {
	position:relative;
	top:1px;
}


#slider {
position: absolute;
background-image:url(images/back.png);
background-repeat:no-repeat;
background-position: bottom;
width: 320px;
height: 500px;
margin-top: -450px;
}
#slider img {
border: 0;
margin-top:312px;
margin-left:-99px;
}
#sliderContent {
margin: 50px 0 0 50px;
position: absolute;
text-align:center;
background-color:#FFFFCC;
color:#333333;
font-weight:bold;
}
#header {
margin: 0 auto;
width: 600px;
background-color: #F0F0F0;
height: 200px;
padding: 10px;
}
#wrd {
margin: 0 auto;
width: 600px;
padding: 10px;
}
#openCloseWrap {
position:absolute;
margin: 143px 0 0 120px;
font-size:12px;
font-weight:bold;
}

#h_menu {
    float:left;
    margin-left:150px;
    width:1024px;
    color:#666;
    }
#h_menu h1 {
	font-size: 40px;
	line-height: 0px;
	margin-left:200px;
	position: relative;
	font-weight: 50;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,1);
}

#h_menu .less {
	font-weight: 400;
}

#h_menu h2 {
	font-size: 14px;
	font-weight:normal;
	margin-left: 200px;
	margin-top:0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
#h_option {
    float:left;
    padding-right:50px;
    margin:0;
    padding-left:0;
    height:100px;
    }
#select_opt{
    float:right;
    margin-top:-50px;
    margin-left:500px;
}

 .wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 120px;
    padding: 9px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-size:13px;
    font-weight: bold;
    color: #8AA8BD;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    margin-top: 10px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
        margin:0;
    padding:0;
    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    color: inherit;
    margin:0;
    padding:0;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    margin:0;
    padding:0;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
.wrapper-demo {
    margin:10px;
    float:left;
    
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

.main_btn {
	margin: 0 auto;
}
