body{
    background: #ddd url(../images/bg.jpg) repeat top left;
    font-family: "Lato", Calibri, Arial, sans-serif;
    }
#main{
	width: 960px;
	height: auto;
	margin: 0 auto;
	float: none;
}

#options{
	width: 300px;
	margin: 50px 0;
	float: left;
}

#xyAxis > #xAxisPicker, #xyAxis > #yAxisPicker{
	width: 180px;
}

#slider-xAxis, slider-yAxis{
	width: 180px;
}

#xy-plot {
  margin-left: 40px;
  height: 550px;
  float: right;
}

text {
  font: 10px sans-serif;
}

.dot {
  stroke: #000;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 96px "Helvetica Neue";
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.infobox {
        position: absolute;
        width: 200px;
        padding: 10px;
        background-color: rgba(255,255,255,.75);
}





/*Country Selection Button Style*/
.country{
	width: 150px;
	text-align: center;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}

.country:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
.country:active {
	position:relative;
	top:1px;
}


#slider {
position: absolute;
background-image:url(images/back.png);
background-repeat:no-repeat;
background-position: bottom;
width: 300px;
height: 500px;
margin-top: -450px;
}
#slider img {
border: 0;
margin-top:312px;
margin-left:-109px;
}
#sliderContent {
margin: 50px 0 0 50px;
position: absolute;
text-align:center;
background-color:#FFFFCC;
color:#333333;
font-weight:bold;
}
#header {
margin: 0 auto;
width: 600px;
background-color: #F0F0F0;
height: 200px;
padding: 10px;
}
#wrd {
margin: 0 auto;
width: 600px;
padding: 10px;
}
#openCloseWrap {
position:absolute;
margin: 143px 0 0 120px;
font-size:12px;
font-weight:bold;
}


#main h1 {
	font-size: 40px;
	line-height: 0px;
	margin-left:200px;
	position: relative;
	font-weight: 50;
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

#main .less {
	font-weight: 400;
}

#main h2 {
	font-size: 14px;
	font-weight: 100;
	margin-left: 200px;
	margin-top:0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
